body{
    background-color: #d2faff !important;
    
}
header{
    background-color: #f2f6f7;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10px;
    margin-bottom: -10px;
    position: absolute;
}
.topleft1 {
    padding-left: 30px;
    
   
}


.zz {
    margin-left: 50px;
    margin-top: -60px;
    
    
}

.line1 {
    padding-top: 30px;
    border-style: none;
    background-color: #c6d1c7;
    padding: 20px ;
    margin-left: -30px;
    font-size: 13pt;
    margin-top: 10px;
    
}
.aline {
    display: inline-block;
    text-decoration: none;
    padding-top: 5px;
    background-color: black;
    color: white;
    width: 35px;
    height: 20px;
    padding: 5px;
}
.face {
    height: 20px;
    width: 20px;
   
}
.twit {
    height: 20px;
    width: 20px;
}
.link {
    height: 20px;
    width: 20px;
    
}
.icon {
    margin-left: 180px;
    margin-top: -35px;
   
    
}
.topright1 {
    margin-left: 800px;
    
}
.mail {
    height: 20px;
    width: 20px;
    
    
}
.email {
    margin-top: -40px;
  
}
.free {
    margin-top: -20px;
    margin-left: -160px;
    font-size: 13pt;
}
.topleft2 {
    margin-top: 50px;
    
}
.ghalb {
    width:30px;
    height: 30px;
}
.bag
{
    width: 30px;
    height: 30px;
}
.icon2 {
    margin-top: -38px;
    margin-left: 200px;
   
}
.topmain {
    margin-left: 100px;
    margin-top: -30px;
    
    font-size: 14pt;
    text-align: center;
    
   
}
.topmain a{
    display: inline-block;
    margin: 0 16px;
    transition: all ease .3s;
    text-decoration: none;
}
.logo1 {
    
    width: 110px;
    height: 110px;
    margin-top: -50px;
}
.logo {
    position: absolute;
    float: right;
    margin-left: 860px;
}
.call {
    
font-size: 12pt;

margin-top: -70px;
}
.phone {
    
    margin-left: 120px;
    margin-top: 35px;
    
    width: 50px;
    height: 50px;
}
.search {
    position: absolute;
    margin-left: 280px;
    margin-top: -60px;
    background-color: #81dc8a;
    text-align: center;
    
    
}
.search input {
    width: 410px;
    height: 35px;
    float: right;
    text-align: right;
    font-size: 14pt;
    
    
}
.search a  {
    font-size: 17pt;
    padding: 10px;
    text-decoration: none;
    color: black;

}
.menu {
    float: right;
    margin-left: 800px;
    text-align: right;
    border-style: solid;
    border-width: 1px;
    padding-right: 20px;
    margin-top: -50px;
    position: absolute;
}
.dasteh  {
    width: 200px;
    height: 50px;
    background-color: #81dc8a;
    margin-right: -20px;
    text-align: center;
   padding-top: 7px;
    font-size: 18pt;
    
}
.dasteh1 {
    padding-top: -15px;
    margin-top: 10px;
}
.zirmenu {
    font-size: 14pt;
}
.zirmenu a {
    text-decoration: none;
    color: #771d78;
}
.sabzi {
    width: 780px;
    height: 480px;
    
}
.matnslide {
    margin-top:-450px;
    margin-left: 80px;

}
.slide {
    margin-top: 35px;
}
.miveh {
    position: absolute;
    color: white;
    font-size: 15pt;
    background-color: teal;
    margin-top: -40px;
    margin-left: 55px;
}
.sabzijat {
    font-size: 25pt;
    margin-left: 30px;
}
.org {
    font-size: 23pt;
    margin-top: -30px;
}
.kharid {
    width: 150px;
    height: 40px;
    background-color: #1db92d;
    position: absolute;
    margin-top: -10px;
    text-align: center;
    padding-top: 10px;
    font-size: 14pt;
    color: white;
}
.akharid {
    text-decoration: none;
    color: white;
}

.gosht1 {
    width: 190px;
    height: 120px;
    margin-top: 300px;
    margin-left: 30px;
    border-style: none;
    background-color: #baccbc;
padding: 30px;
}

matngosht {
    display: inline-block;
    margin-left: -165px ;
    margin-top: 685px;
    top: 253px;
    position: absolute;
    font-size: 15pt; 
}
.abmiveh1 {
    width: 190px;
    height: 120px;
    margin-left: 320px;
    margin-top: -250px;
    background-color: #baccbc;
padding: 30px;
}
matnabmiveh {
    display: inline-block;
    margin-left: -160px ;
    margin-top: 688px;
    top: 253px;
    position: absolute;
    font-size: 15pt;
}
.abmiveh {
    margin-top: -16px;
}
.sabzi1 {
    width: 190px;
    height: 120px;
    margin-left: 620px;
    margin-top: -250px;
    background-color: #baccbc;
padding: 30px;

}
matnsabzi {
    display: inline-block;
    margin-left: 710px ;
    margin-top: 688px;
    top: 253px;
    position: absolute;
    font-size: 15pt;
}
.sabzi {
    margin-top: -16px;
}

.nvizheh {
    margin-left: 295px;
    margin-top: 10px;
    font-size: 15pt;
    
}


.nvizheh a{
    display: inline-block;
    margin: 0 16px;
    transition: all ease .3s;
    text-decoration: none;
    color: #ebdfdf;
    background-color: #5b9dff;
    padding: 10px;
   
}
.mvizheh {
    margin-left: 450px;
    margin-top: -400px;
    font-size: 20pt;

}
.hendoneh1 {
    width: 150px;
    height: 90px;
    margin-top: 50px;
    margin-left: 30px;
    border-style: none;
    background-color: #baccbc;
padding: 30px;

}
.matnhendoneh {
    display: inline-block;
    margin-left: -125px ;
    padding-top: 190px;
    position: absolute;
    font-size: 15pt;
}
.moz1 {
    width: 150px;
    height: 90px;
    margin-left: 270px;
    margin-top: -250px;
    background-color: #baccbc;
padding: 30px;

}
.matnmoz {
    display: inline-block;
    margin-left: -120px ;
    padding-top: -200px;
    position: absolute;
    font-size: 15pt;
}
.moz {
    margin-top: -16px;
}
.ostova1 {
    width: 150px;
    height: 90px;
    margin-left: 510px;
    margin-top: -250px;
    background-color: #baccbc;
padding: 30px;

}
.matnostova {
    display: inline-block;
    margin-left: -130px ;
    padding-top: -200px;
    position: absolute;
    font-size: 15pt;
}
.ostova {
    margin-top: -16px;
}
.tot1 {
    width: 150px;
    height: 90px;
    margin-left: 750px;
    margin-top: -250px;
    background-color: #baccbc;
padding: 30px;

}
.matntot {
    display: inline-block;
    margin-left: -140px ;
    padding-top: -200px;
    position: absolute;
    font-size: 15pt;
}
.tot {
    margin-top: -16px;
}

.pizza1 {
    width: 150px;
    height: 90px;
    margin-top: 50px;
    margin-left: 30px;
    border-style: none;
    background-color: #baccbc;
padding: 30px;

}
.matnpizza {
    display: inline-block;
    margin-left: -125px ;
    padding-top: 190px;
    position: absolute;
    font-size: 15pt;
}
.sib1 {
    width: 150px;
    height: 90px;
    margin-left: 270px;
    margin-top: -250px;
    background-color: #baccbc;
padding: 30px;

}
.matnsib {
    display: inline-block;
    margin-left: -120px ;
    padding-top: -190px;
    position: absolute;
    font-size: 15pt;
}
.sib {
    margin-top: -16px;
}
.hamber1 {
    width: 150px;
    height: 90px;
    margin-left: 510px;
    margin-top: -250px;
    background-color: #baccbc;
padding: 30px;

}
.matnhamber {
    display: inline-block;
    margin-left: -140px ;
    padding-top: -190px;
    position: absolute;
    font-size: 15pt;
}
.hamber {
    margin-top: -16px;
}
.angor1 {
    width: 150px;
    height: 90px;
    margin-left: 750px;
    margin-top: -250px;
    background-color: #baccbc;
padding: 30px;

}
.matnangor {
    display: inline-block;
    margin-left: -120px ;
    padding-top: -190px;
    position: absolute;
    font-size: 15pt;
}
.angor {
    margin-top: -16px;
}
.main2 {
    margin-left: 20px;
}
.main3 {
    margin-left: 20px;
}
.main1 {
    margin-top: 100px;
    margin-left: 60px;


}

.main1 p {
   margin-top: 680px;
    position: absolute;
    padding-top: 0px;
}

.air {
    width: 500px;
    height: 300px;
    
}
.air {
    margin-left: 20px;
    margin-top: 80px;
}
.matnair {
    margin-top:-450px;
    margin-left: 80px;
    text-align: right;
    
}
.air1 {
    
    font-size: 15pt;
    
    background-color: #345393;
    position: absolute;
    margin-top: 180px;
    margin-left: 140px;
    text-align: center;
    padding: 10px;
    font-size: 14pt;
    color: white;
}

.air6 {
    color: seashell;
    text-decoration: none;
}

.car4 {
    color: seashell;
    text-decoration: none;
}

.air2 {
    font-size: 20pt;
   
    background-color: #453777;
    position: absolute;
    margin-top: 340px;
    margin-left: -40px;
    text-align: center;
    padding: 10px;
    font-size: 14pt;
    color: white;
}
 .air3 {
    font-size: 20pt;
   
    background-color: #37749f;
    position: absolute;
    margin-top: 380px;
    margin-left: 300px;
    text-align: center;
    padding: 10px;
    font-size: 14pt;
    color: white;
 }
.car {
    width: 500px;
    height: 300px;
}
.car {
    margin-left: 540px;
    margin-top: 145px;
}
.matncar {
    margin-top:-200px;
    margin-left: 740px;

}
.car1 {
    font-size: 15pt;
    
    background-color: #7b7b7b;
    position: absolute;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
    padding: 10px;
    font-size: 14pt;
    color: white;
    
}
.car2 {
    font-size: 15pt;
    
    background-color: #388427;
    position: absolute;
    margin-top: -40px;
    margin-left: -180px;
    text-align: center;
    padding: 10px;
    font-size: 14pt;
    color: white;
}

.car3 {
    width: 150px;
    height: 40px;
    background-color: #1db92d;
    position: absolute;
    margin-top: 145px;
    text-align: center;
    padding-top: 10px;
    font-size: 14pt;
    color: white;
}
.mahsolat {
    
    margin-top: 270px;
    font-size: 13pt;
    font-size: 15pt;
    padding-left: 100px;
    
    
}
.mahsolat a{
    display: inline-block;
    margin: 20px 110px 10px 50px;
    transition: all ease .3s;
    text-decoration: none;
    color: white;
    margin-right: 80px;
}

.ne1 {
    background-color: #4936ad;
    padding: 5px;
    
}
.ne2 {
    background-color: #4936ad;
    padding: 5px;
}
.ne3 {
    background-color: #4936ad;
    padding: 5px;
}
.axkahoo1 {
    display: inline-block;
    height: 100px;
    width: 100px;
}
.new1 {
    position: absolute;
    margin-top: 30px;
}

.kahoo1 {
    display: inline-block;
    margin-left: 780px;
    text-align: right;
    
    background-color: #d9d708;
    border-style: none;
    padding: 20px;
    
}
.matnkahoo1 {
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14pt;
    
}
.axkahoo2 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}
.kahoo2 {
    display: inline-block;
    margin-left: 780px;
    text-align: right;
    margin-top: 50px;
    background-color: #d9d708;
    border-style: none;
    padding: 20px;
}
.matnkahoo2 {
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14pt;
}
.axkahoo3 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}
.kahoo3 {
    display: inline-block;
    margin-left: 780px;
    text-align: right;
    margin-top: 50px;
    background-color: #d9d708;
    border-style: none;
    padding: 20px;
}
.matnkahoo3 {
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14pt;
}


.axfelfel1 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}
.felfel1 {
    display: inline-block;
    margin-left: 780px;
    text-align: right;
    margin-top: 100px;
    background-color: #47b7ae;
    border-style: none;
    padding: 20px;
    
}
.matnfelfel1 {
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14pt;
}
.axfelfel2 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}
.felfel2 {
    display: inline-block;
    margin-left: 780px;
    text-align: right;
    margin-top: 50px;
    background-color: #47b7ae;
    border-style: none;
    padding: 20px;
}

.matnfelfel2 {
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14pt;

    
}
.axfelfel3 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}
.felfel3 {
    display: inline-block;
    margin-left: 780px;
    text-align: right;
    margin-top: 50px;
    background-color: #47b7ae;
    border-style: none;
    padding: 20px;
}
.matnfelfel3 {
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14pt;
}
.new2 {
    margin-left: -370px;
    margin-top: -70px;
    position: absolute;
}


.axanar1 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
    
}
.anar1 {
    display: inline-block;
    margin-left: 780px;
    text-align: right;
    background-color: #d396ef;
    border-style: none;
    padding: 20px;
    
}
.matnanar1 {
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14pt;
}
.axanar2 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}
.anar2 {
    display: inline-block;
    margin-left: 780px;
    text-align: right;
    margin-top: 50px;
    background-color: #d396ef;
    border-style: none;
    padding: 20px;
}
.matnanar2 {
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14pt;
}
.axanar3 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}
.anar3 {
    display: inline-block;
    margin-left: 780px;
    text-align: right;
    margin-top: 50px;
    background-color: #d396ef;
    border-style: none;
    padding: 20px;
}
.matnanar3 {
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14pt;
}
.new3 {
    margin-left: -700px;
    margin-top: 30px;
    position: absolute;
}

.blog1 {
  padding-left: 500px;
    padding-top: 600px;
    margin-top: 50px;
    font-size: 20pt;
    padding-bottom: 150px;
}
.picnokat {
    
    margin-left: 35px;
    margin-bottom: -60px;
    margin-top: -450px;
padding-bottom: 50px;
position: absolute;
}
.nokat{
    margin-top: 530px;
    margin-bottom: -300px;
}
.makarani1 {
    width: 320px;
    height: 200px;
    
    
}

.makarani{
    margin-left: -20px;
    margin-top: -200px;
  position: absolute;
    
    
}


.pasta1 {
    height: 200px;
    width: 320px;
    
}
.lazania1 {
    height: 200px;
    width: 320px;
}
.pasta {
    margin-left: 325px;
    margin-top: -200px;
position: absolute;
    
}
.lazania {
    margin-left: 670px;
    margin-top: -200px;
    position: absolute;
}
.lazania2 {
    margin-left: 5px;
    background-color: #edabdb;
    margin-right: 35px;
   padding: 5px;
   width: 300px;
}
.pasta2 {
    margin-left: 5px;
    background-color: #edabdb;
    margin-right: 35px;
   padding: 5px;
   width: 300px;
}

.makarani2 {
    margin-left: 5px;
    background-color: #edabdb;
    margin-right: 35px;
   padding: 5px;
   width: 300px;
}

.footer1 {
    text-align: right;
    margin-right: 30px;
    margin-top: 100px;
    background-color: c6d1c7;
    margin-right: 0px;
    padding-right: 30px;
    padding-top: 20px;
}
.botlogo {
    width: 130px;
    height: 110px;
}
footer {
    background-color: #c6d1c7;
    z-index: 0;
   
    
    
    
}
.footer2 {
    text-align: right;
    margin-right: 500px;
    margin-top: -210px;
    background-color: #;
    
}
.footer3 {
    text-align: right;
    margin-right: 550px;
    margin-top: -170px;
   
}
.footer3 a {
    text-decoration: none;
    color: #87303a;
    font-size: 13pt;
}
.footer2 a {
    text-decoration: none;
    color: #87303a;
    font-size: 13pt;
}
.footer4 {
    margin-left: 50px;
    margin-top: -200px;
    background-color: c6d1c7;
    background-color: #;
}


.footer43 {
    position: absolute;
   
    margin-left: -20px;
    background-color: #3ac063;
    text-align: center;
    
    
}
.footer43 input {
    width: 210px;
    height: 30px;
    float: right;
    text-align: right;
    font-size: 14pt;
    padding-right: 10px;
    
}
.footer43 a  {
    font-size: 15pt;
    padding-top: 30px;
    color: white;
   
}
.footer44 {
    margin-top: 100px;
    margin-left: 40px;
    background-color: c6d1c7;
    margin-left: -50px;
    padding-left: 100px;
    background-color: #;
}
.footer44 img {
    margin: 15px;
    margin-top: -100px;
}
.footer41 p {
    font-size: 13pt;
    
}

.searchicon {
    text-decoration: none;
}
